:root {
    --background: #e3e7ec;

    --btn-orange: #ff9272;

    --light-txt: #eaeaea;
    --dark-txt: #2a2a2a;
    --btn-txt: #3d3d3d;
    --error-txt: #ff5454;

    --size-heading: 5rem;
    --size-footers: min(1rem, 1vmax);
    --size-button: 1.4rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px red solid;
}

/*Elements*/

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    background: var(--background);
    color: var(--dark-txt);
    font-family: Lato, sans-serif;
}

a {
    text-decoration: underline;
    color: var(--dark-txt);
}

svg {
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1/1;

}

svg path {
    fill: coral;
}

/*Classes*/

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: var(--size-footers);

    background-color: rgba(253, 154, 100, 0.6);
}